<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Vagas</title>
    <link rel="stylesheet" th:href="@{/telasDeEmpresa/cad-empresa.css}">
    <link rel="stylesheet" th:href="@{/Styles/Menu.css}">
    <!-- Link de Font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo"></div>

        <div id="hamburg-mobile"></div>
        <nav id="navegacao">
            <ul id="mobile">
                <li><a href="../telasEstudante/loginEstudante.html" id="link-1">Estudante</a></li>
                <hr class="linha-mobile">
                <li><a href="" id="link-3">Vagas</a></li>
                <hr class="linha-mobile">
                <li><a href="/index"id="link-4"> | Inicio</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="containerMain">
            <div class="Box1">
            </div>
            <div class="Box2">
                <div class="caixaBox">
                    <div class="roda"></div>
                    <div class="d-flex">
                        <div class="caixaConteudo">
                            
                            <h1 class="tituloCadastro">Cadastro Empresarial</h1>
                            <div class="barra"></div>
                            <form action="">
                                <div class="itens-box">
                                    <label for="nome" class="label-input">Nome ou razão social:</label>
                                    <input type='text' id='nome' name='nome' required class="inputUser">
                                    <br>
                                    <label for="dtnasc">Data de fundação:</label>
                                    <input type='date' id='dtnasc' name='dtnasc' class="inputUser"><br>                      
                                    <br>
                                    <label for="cnpj" class="label-input">CNPJ:</label>
                                    <input type='number' id='cnpj' name='cnpj' class="inputUser">
                                    <label for="telefone" class="label-input" id="tel">Nº telefone:</label>
                                    <input type='number' id='telefone' name='telefone' class="inputUser">
                                    <br>
                                    <label for="nome" class="label-input">Responsável para contato:</label>
                                    <input type='text' id='responsavel' name='nomeResponsavel' required class="inputUser">
                                    <br>
        
                                    <label for="email" class="label-input">E-mail:</label>
                                    <input type='email' id='email' name='email' required class="inputUser">
                                    <br>
                                    <label for="cidade" class="label-input">Cidade:</label>
                                    <input type='text' id='cidade' name='cidade' required class="inputUser">
                                    <label for="uf" id="uff">UF:</label>
                                    <select id="uf" name="curso" class="inputUser">
                                        <option value="AC">AC</option>
                                        <option value="AL">AL</option>
                                        <option value="AP">AP</option>
                                        <option value="AM">AM</option>
                                        <option value="BA">BA</option>
                                        <option value="CE">CE</option>
                                        <option value="DF">DF</option>
                                        <option value="ES">ES</option>
                                        <option value="GO">GO</option>
                                        <option value="MA">MA</option>
                                        <option value="MT">MT</option>
                                        <option value="MS">MS</option>
                                        <option value="MG">MG</option>
                                        <option value="PB">PB</option>
                                        <option value="PR">PR</option>
                                        <option value="PE">PE</option>
                                        <option value="PI">PI</option>
                                        <option value="RJ">RJ</option>
                                        <option value="RN">RN</option>
                                        <option value="RS">RS</option>
                                        <option value="RO">RO</option>
                                        <option value="RR">RR</option>
                                        <option value="SC">SC</option>
                                        <option value="SP">SP</option>
                                        <option value="SE">SE</option>
                                        <option value="TO">TO</option>
                                    </select>
                                        <br>
                                        <label for="endereco" class="label-input">Endereço:</label>
                                        <input type='text' id='endereco' name='endereco' required class="inputUser">
                                        <label for="cep" class="label-input">CEP:</label>
                                        <input type='number' id='cep' name='casa' class="inputUser">
                                        <br>
                                        <label for="curso">Area de atuação:</label>
                                        <select id="curso" name="curso" class="inputUser">
                                            <option value="Admistração">ADMINISTRAÇÃO</option>
                                            <option value="Auto-industrial">AUTOMAÇÃO INDUSTRIAL</option>
                                            <option value="Desenvolvimento de Sistemas">DESENVOLVIMENTO DE SISTEMAS</option>
                                            <option value="Edificações">EDIFICAÇÕES</option>
                                            <option value="Eletromecanina">ELETROMECÂNICA</option>
                                            <option value="Eletrotecnica">ELETROTÉCNICA</option>
                                            <option value="Logistica">LOGÍSTICA</option>
                                            <option value="Mtc-automotiva">MANUTENÇÃO AUTOMOTIVA</option>
                                            <option value="Mecanica">MECÂNICA</option>
                                            <option value="Mecatronica">MECATRÔNICA</option>
                                            <option value="Petroquimica">PETROQUÍMICA</option>
                                            <option value="Quimica">QUÍMICA</option>
                                            <option value="Rede de Computadores">REDE DE COMPUTADORES</option>
                                            <option value="Refrigeração e Climatização">REFRIGERAÇÃO E CLIMATIZAÇÃO</option>
                                            <option value="Seguranca do trabalho">SEGURANÇA DO TRABALHO</option>
                                        </select>
                                    
                                    <br class="Teste4">
                                 
                                    <div class="margin">
                                        <label for="senha" class="label-input">Senha de acesso:</label>
                                        <input type='password' id='nova-senha' name='senha' required class="inputUser">
                                        <label for="senha" class="label-input" id="conf-senha">Confirmar senha:</label>
                                        <input type='password' id='senha' name='senha' required class="inputUser">
                                        <br>
                                    </div>
                                   
        
                                </div>
                                <div class="bg-color">
                                    <button class="btn-cadastrar" id="Cadastrar" type="button"> Cadastrar</button>
                                    
                            </div>
                            </form>
        
                        </div>
                    </div>
                </div>

            </div>
        </div>

                <!-- <div class="container-box">
                   
                    <div class="box">
                        <div class="text">
                            <h1 class="title-box">Cadastro Empresarial</h1>
                        </div>
                       
                        <form action="">
                        <div class="itens-box">
                            <label for="nome" class="label-input">Nome ou razão social:</label>
                            <input type='text' id='nome' name='nome' required class="inputUser">
                            <br>
                            <label for="dtnasc">Data de fundação:</label>
                            <input type='date' id='dtnasc' name='dtnasc' class="inputUser"><br>                      
                            <br>
                            <label for="cnpj" class="label-input">CNPJ:</label>
                            <input type='number' id='cnpj' name='cnpj' class="inputUser">
                            <label for="telefone" class="label-input" id="tel">Nº telefone:</label>
                            <input type='number' id='telefone' name='telefone' class="inputUser">
                            <br>
                            <label for="nome" class="label-input">Responsavel para contato:</label>
                            <input type='text' id='responsavel' name='nomeResponsavel' required class="inputUser">
                            <br>

                            <label for="email" class="label-input">E-mail:</label>
                            <input type='email' id='email' name='email' required class="inputUser">
                            <br>
                            <label for="cidade" class="label-input">Cidade:</label>
                            <input type='text' id='cidade' name='cidade' required class="inputUser">
                            <label for="uf" id="uff">UF:</label>
                            <select id="uf" name="curso" class="inputUser">
                                <option value="AC">AC</option>
                                <option value="AL">AL</option>
                                <option value="AP">AP</option>
                                <option value="AM">AM</option>
                                <option value="BA">BA</option>
                                <option value="CE">CE</option>
                                <option value="DF">DF</option>
                                <option value="ES">ES</option>
                                <option value="GO">GO</option>
                                <option value="MA">MA</option>
                                <option value="MT">MT</option>
                                <option value="MS">MS</option>
                                <option value="MG">MG</option>
                                <option value="PB">PB</option>
                                <option value="PR">PR</option>
                                <option value="PE">PE</option>
                                <option value="PI">PI</option>
                                <option value="RJ">RJ</option>
                                <option value="RN">RN</option>
                                <option value="RS">RS</option>
                                <option value="RO">RO</option>
                                <option value="RR">RR</option>
                                <option value="SC">SC</option>
                                <option value="SP">SP</option>
                                <option value="SE">SE</option>
                                <option value="TO">TO</option>
                            </select>
                                <br>
                                <label for="endereco" class="label-input">Endereço:</label>
                                <input type='text' id='endereco' name='endereco' required class="inputUser">
                                <label for="cep" class="label-input">CEP:</label>
                                <input type='number' id='cep' name='casa' class="inputUser">
                                <br>
                                <label for="curso">Area de atuação:</label>
                                <select id="curso" name="curso" class="inputUser">
                                    <option value="Admistração">ADMINISTRAÇÃO</option>
                                    <option value="Auto-industrial">AUTOMAÇÃO INDUSTRIAL</option>
                                    <option value="Desenvolvimento de Sistemas">DESENVOLVIMENTO DE SISTEMAS</option>
                                    <option value="Edificações">EDIFICAÇÕES</option>
                                    <option value="Eletromecanina">ELETROMECÂNICA</option>
                                    <option value="Eletrotecnica">ELETROTÉCNICA</option>
                                    <option value="Logistica">LOGÍSTICA</option>
                                    <option value="Mtc-automotiva">MANUTENÇÃO AUTOMOTIVA</option>
                                    <option value="Mecanica">MECÂNICA</option>
                                    <option value="Mecatronica">MECATRÔNICA</option>
                                    <option value="Petroquimica">PETROQUÍMICA</option>
                                    <option value="Quimica">QUÍMICA</option>
                                    <option value="Rede de Computadores">REDE DE COMPUTADORES</option>
                                    <option value="Refrigeração e Climatização">REFRIGERAÇÃO E CLIMATIZAÇÃO</option>
                                    <option value="Seguranca do trabalho">SEGURANÇA DO TRABALHO</option>
                                </select>
                            
                            <br class="Teste4">
                         
                            <div class="margin">
                                <label for="senha" class="label-input">Senha de acesso:</label>
                                <input type='password' id='nova-senha' name='senha' required class="inputUser">
                                <label for="senha" class="label-input" id="conf-senha">Confirmar senha:</label>
                                <input type='password' id='senha' name='senha' required class="inputUser">
                                <br>
                            </div>
                           

                        </div>
                        <div class="bg-color">
                            <button class="btn-cadastrar" id="Cadastrar" type="button"> Cadastrar</button>
                            <div class="itens-secundarios">
                            <a href="cadastro-vaga.html" class="btn-secundario">Cadastrar vaga</a>
                        </div>
                    </div>
                    </form>

                    
                </div>
          
 -->

    </main>
    
    <script th:src="@{/btnMenu-scripts/Script-hamburg.js}"></script>
    <script th:src="@{/Electus_Scripts/cadastroEmpresa.js}"></script>
</body>

</html>