<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro do Estudante</title>
    <link rel="stylesheet" th:href="@{/telasestudante/cad-estudante2.css}">
    <link rel="stylesheet" th:href="@{/Styles/Menu.css}">

    <!-- Link de Font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo"></div>

        <div id="hamburg-mobile"></div>
        <nav id="navegacao">
            <ul id="mobile">
                <li><a href="/Login-estudante" id="link-1">Estudante</a></li>
                <hr class="linha-mobile">
                <li><a href="" id="link-3">Vagas</a></li>
                <hr class="linha-mobile">
                <li><a href="/index" id="link-4"> | Inicio</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="containerMain">
            <div class="Box1">
            </div>
            <div class="Box2">
                <div class="caixaBox">
                    <div class="roda"></div>
                    <div class="d-flex">
                        <div class="caixaConteudo">
                            
                            <h1 class="tituloCadastro">Cadastro Estudantil</h1>
                            <div class="barra"></div>
                            <form action="" method="post">
                                <div class="itens-box">
                                     <label for="nome" class="label-input">Nome:</label>
                                     <input type='text' id='nome' name='nome' required class="inputUser">
                                     <br>
                                     <label for="dtnasc">Data de nascimento:</label>
                                     <input type='date' id='dtnasc' name='dtnasc' class="inputUser"><br>
                                     <label for="cpf" class="label-input">Cpf:</label>
                                     <input type='number' id='cpf' name='cpf' class="inputUser"  size="1">
                                     <label for="telefone" class="label-input" id="tel">Nº telefone:</label>
         
                                     <input type='number' id='telefone' name='telefone' class="inputUser">
                                     <br>
                                     <label for="email" class="label-input">E-mail:</label>
                                     <input type='email' id='email' name='email' required class="inputUser">
                                     <br>
                                     <p>Sexo:</p>
                                     <input type="radio" id="sexo-m" name="sexo" value="Masculino">
                                     <label for="sexo-m">Masculino</label><br>
                                     <input type="radio" id="sexo-f" name="sexo" value="Feminino">
                                     <label for="sexo-f">Feminino</label>
                                     <br>
                                     <br>
                                     <label for="endereco" class="label-input">Endereço:</label>
                                     <input type='text' id='endereco' name='endereco' required class="inputUser">
                                     <label for="n-casa" class="label-input">N° da casa:</label>
                                     <input type='text' id='n-casa' name='casa' class="inputUser">
                                     <br>
                                     <label for="curso">Curso:</label>
                                     <select id="curso" name="curso" class="inputUser">
                                         <option value="Admistração">ADMINISTRAÇÃO</option>
                                         <option value="Auto industrial">AUTOMAÇÃO INDUSTRIAL</option>
                                         <option value="Desenvolvimento de Sistemas">DESENVOLVIMENTO DE SISTEMAS</option>
                                         <option value="Edificações">EDIFICAÇÕES</option>
                                         <option value="Eletromecânina">ELETROMECÂNICA</option>
                                         <option value="Eletrotécnica">ELETROTÉCNICA</option>
                                         <option value="Logistica">LOGÍSTICA</option>
                                         <option value="Manutenção automotiva">MANUTENÇÃO AUTOMOTIVA</option>
                                         <option value="Mecânica">MECÂNICA</option>
                                         <option value="Mecatrônica">MECATRÔNICA</option>
                                         <option value="Petroquimica">PETROQUÍMICA</option>
                                         <option value="Química">QUÍMICA</option>
                                         <option value="Rede de Computadores">REDE DE COMPUTADORES</option>
                                         <option value="Refrigeração e Climatização">REFRIGERAÇÃO E CLIMATIZAÇÃO</option>
                                         <option value="Seguranca do trabalho">SEGURANÇA DO TRABALHO</option>
                                     </select>
                                     <br>
                                     <div class="modulo-periodo">
                                     <label for="modulo">Módulo atual:</label>
                                     <select id="modulo" name="modulo" class="inputUser">
                                         <option value="Modulo 1">I</option>
                                         <option value="Modulo 2">II</option>
                                         <option value="Modulo 3">III</option>
                                         <option value="Modulo 4">IV</option>
                                     </select>
                                     <br class="Teste4">
                                     <label for="periodo">Período:</label>
                                     <select id="turno" name="curso" class="inputUser ">
                                         <option value="Matutino">MATUTINO </option>
                                         <option value="Vespertino">VESPERTINO </option>
                                         <option value="Noturno">NOTURNO</option>
                                     </select>
                                    </div>
                                     <div class="margin">
                                         <label for="senha" class="label-input">Nova senha:</label>
                                         <input type='password' id='nova-senha' name='senha' required class="inputUser">
                                         <label for="senha" class="label-input">Confirmar senha:</label>
                                         <input type='password' id='senha' name='senha' required class="inputUser">
                                         <br>
                                     </div>
                                     <a ><input type="button" value="Cadastrar"
                                             class="btn-cadastrar" id="btn-cadastrar"></a>
                                 </div>
                             </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>


    <script th:src="@{/btnMenu-scripts/Script-hamburg.js}"></script>
    <script src="../Electus_Scripts/Cadastro.js"></script>
</body>

</html>