<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/Styles/Menu.css}">
    <link rel="stylesheet" th:href="@{/instituicao.css}">
    <title>Principal</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

</head>
<body>

<header id="header">
    <div class="logo"></div>
    <div id="hamburg-mobile"></div>
        <nav id="navegacao">
            <ul id="mobile">
                <li  th:if="${session.aluno != null}"><a th:href="|/perfil-estudante/${session.aluno.id}|" id="link-1" >Meu perfil</a></li>
                <li  th:if="${session.empresa != null}"><a th:href="|/perfil-empresa/${session.empresa.id}|" id="link-2" >Meu perfil</a></li>
                <hr class="linha-mobile">
              
                <li><a href="/index" id="link-3">Sair</a></li>
            </ul>
        </nav>     
    
</header>
    <main>
        <h1 class="titulo">Cursos</h1>
       <div class="flex">
        <a th:href="|/Modulo/Desenvolvimento de Sistemas/${session.empresa.id}|" ><div class="Curso">
            <div class="roda"></div>
           Desenvolvimento de Sistemas</div></a>
           <a th:href="|/Modulo/Eletrotécnica/${session.empresa.id}|" ><div class="Curso">  <div class="roda"></div>Eletrotécnica</div></a>
           <a th:href="|/Modulo/Administração/${session.empresa.id}|"><div class="Curso">  <div class="roda"></div>Administração</div></a>
           <a th:href="|/Modulo/Automação industrial/${session.empresa.id}|"><div class="Curso">  <div class="roda"></div>Automação industrial</div></a>
           <a th:href="|/Modulo/Edificações/${session.empresa.id}|" ><div class="Curso">  <div class="roda"></div>Edificações</div></a>
           <a th:href="|/Modulo/Eletromecânina/${session.empresa.id}|" ><div class="Curso">   <div class="roda"></div>Eletromecânina</div></a>
           <a th:href="|/Modulo/Logistica/${session.empresa.id}|"> <div class="Curso">  <div class="roda"></div>Logistica</div></a>
           <a th:href="|/Modulo/Manutenção automotiva/${session.empresa.id}|" > <div class="Curso">  <div class="roda"></div>Manutenção automotiva</div></a>
        <a th:href="|/Modulo/Mecânica/${session.empresa.id}|"><div class="Curso"> <div class="roda"></div>Mecânica </div></a>
        <a th:href="|/Modulo/Mecatronica/${session.empresa.id}|"><div class="Curso"><div class="roda"></div> Mecatronica </div></a>
        <a th:href="|/Modulo/Petroquimica/${session.empresa.id}|" ><div class="Curso">  <div class="roda"></div> Petroquimica</div></a>
        <a th:href="|/Modulo/Química/${session.empresa.id}|" ><div class="Curso">  <div class="roda"></div> Química</div></a>
        <a th:href="|/Modulo/Rede de Computadores/${session.empresa.id}|" ><div class="Curso">  <div class="roda"></div>Rede de Computadores</div></a>
        <a th:href="|/Modulo/Refrigeração e Climatização/${session.empresa.id}|" ><div class="Curso">   <div class="roda"></div>Refrigeração e Climatização</div></a>
        <a th:href="|/Modulo/Seguranca do trabalho/${session.empresa.id}|" ><div class="Curso">  <div class="roda"></div>Seguranca do trabalho</div></a>
      
       </div>
    </main>

<script th:src="@{/btnMenu-scripts/Script-hamburg.js}"></script>
</body>
</html>