<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/Styles/Menu.css}">
    <link rel="stylesheet" th:href="@{/telasDePerfil/perfil-empresa.css}">
   
    <title>Perfil Empresa</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>
<body>

    <header>
        <div class="logo"></div>

        <div id="hamburg-mobile"></div>
        <nav id="navegacao">

            <ul id="mobile">
              

                <li><a th:href="|/Principal-empresa/${session.empresa.id}" id="link-4">Inicio</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="containerMain">
            <div class="backgroundImagem">
                <div class="itenBox1">
                </div>
                <div class="itenBox2">
                    <div class="caixaBox2">
                        <img  th:src="|/empresaImagem/${session.empresa.id}|" id="imagem">
                        <form th:action="|/empresaImagem/${session.empresa.id}|" method="POST" enctype="multipart/form-data" th:object="${teste}" id="formImg">
                        <input type="file" name="fileProduto" id="imgamem" placeholder="none">
                        <button type="submit" id="enviando">Enviar</button>
                        </form>
                        <div class="d-flex">
                            <div class="caixaConteudo">
                              
                                <h1 th:text="${session.empresa.nome}" class="Nome-aluno" id="Nome-aluno">
                                </h1>
                                <!-- <div class="descricao">
                                    <h5 class="titleDescricao">Descrição do perfil: </h5>
                                    <p th:text="${session.empresa.descricao}" id="respDesc"></p>
                                </div> -->
                                <h2 class="tituloDados">Dados da empresa</h2>

                                <div class="colunaDados">
                                    <div class="coluna1">
                                        <div class="itenColuna">
                                            <p>Area de atuação</p>
                                            <p th:text="${session.empresa.area}" id="data_nascimento">
                                            </p>

                                        </div>
                                        <div class="itenColuna">
                                            <p>Cidade: </p>
                                            <p th:text="${session.empresa.cidade}"></p>
                                            <p th:text="${session.empresa.uf}"></p>
                                        </div>
                                        <div class="itenColuna">
                                            <p>Data de criação</p>
                                            <p th:text="${session.empresa.data}"></p>

                                        </div>
                                        <div class="itenColuna">
                                            <p>Responsavel:</p>
                                            <p th:text="${session.empresa.responsavel}"></p>    
                                        </div>
                                        
                                    </div>
 

                                </div>
                                <div class="containerBotoes">
                                    <div class="caixaBotoes">
                                        <div class="boxVerVagas">
                                            <h3 class="titleVerVagas">Confira Vagas</h3>
                                            <a class="btnBotoes" th:href="|/Principal-empresa/${session.empresa.id}|">
                                                <div class="fundoBtn"><img th:src="@{/Imagens/seta-direita.png}"
                                                        alt="seta" id="imgSeta"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="caixaBotoes">
                                        <div class="boxVerVagas">
                                            <h3 class="titleVerVagas">Lançar Vagas</h3>
                                            <a class="btnBotoes" th:href="|/Divulgar/${session.empresa.id}|">
                                                <div class="fundoBtn"><img th:src="@{/Imagens/seta-direita.png}"
                                                        alt="seta" id="imgSeta"></div>
                                            </a>
                                        </div>
                                    </div>

                                </div>

                                <hr class="divisao">


                                <div class="flex-coluna">
                                        <h2 class="titulo-vaga">Vagas lançadas</h2>
                                        <div th:each="cont : ${lista}" class="vagaDisponiveis" th:if="${cont.nome == session.empresa.nome}">
                                            <div class="vagas-flex">
                                               <div class="vaga-header">
                                                <div class="item-header">
                                                    <p th:if="${cont.nome == session.empresa.nome}" text="Cargo">Cargo</p>
                                                    <p th:if="${cont.nome == session.empresa.nome}" th:text="${cont.cargo}"></p>
                                                    
                                                    
                                                </div>
                                                <div class="item-header">
                                                    <p th:if="${cont.nome == session.empresa.nome}" text="Departamneto">Departamento</p>
                                                    <p th:if="${cont.nome == session.empresa.nome}" th:text="${cont.departamento}"></p>
                                                </div>
                                                <div class="item-header">
                                                   
                                                    <p th:if="${cont.nome == session.empresa.nome}" text="Cbo">Cbo</p>
                                                    <p th:if="${cont.nome == session.empresa.nome}" th:text="${cont.cbo}"></p>
                                                </div>
                                               </div>
                                               <div class="exclusao">
                                                
                                                <a th:if="${cont.nome == session.empresa.nome}" th:href="|/deletarVaga/${cont.id}/${cont.departamento}/${session.empresa.id}|">Excluir vaga</a>
                                               </div>
                                            </div>
                                            <table>
                                                <div class="candidatos-titulo" th:if="${lista != null}">
                                                    
                                                    <tr>
                                                        <th>Candidatos(as)</th>
                                                        <th class="borda">Curso</th>
                                                        <th>Modulo</th>
                                                    </tr>
   
                                                </div>
                                            <div th:each="ins : ${inscricoes}" class="candidatos">
                                              <div   th:each="alunos : ${alunos}">
                                                <tr th:if="(${ins.nome} == ${alunos.aluno}) ">
                                                    <td ><a  th:text="${ins.nome}" th:href="|/estudante/${alunos.id}/${session.empresa.id}|"></a></td>
                                                     <td  th:text="${ins.curso}" class="borda"></td>
                                                     <td  th:text="${ins.modulo}"></td>
                                                     
                                                 </tr>
                                                 
                                              </div>
                                            </div>
                                            </table>
                                            </div>
                                    </div>

                            </div>

                            
                            
                        </div>
                        
                        
                    </div>
                  

                </div>
            </div>
        </div>
        </div>
    </main>
    <p th:text="${session.empresa.id}" id="teste"  style="display: none;"></p>    
    <p th:text="${session.empresa.nome}" id="nome"  style="display: none;"></p>   
    <p th:text="${session.empresa.area}" id="area"  style="display: none;"></p>     
    <p th:text="${session.empresa.email}" id="email"  style="display: none;"></p>   
    <p th:text="${session.empresa.tel}" id="tel"  style="display: none;"></p>   
    <p th:text="${session.empresa.cidade}" id="cidade"  style="display: none;"></p>   
    <p th:text="${session.empresa.uf}" id="uf"  style="display: none;"></p>   
    <p th:text="${session.empresa.id}" id="id"  style="display: none;"></p>   
    <p th:text="${session.empresa.endereco}" id="endereco"  style="display: none;"></p> 
    <script th:src="@{/Electus_Scripts/perfilEmpresa.js}"></script>
    <script th:src="@{/btnMenu-scripts/Script-hamburg.js}"></script>
</body>
</html>