<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/Styles/Menu.css}">
    <link rel="stylesheet" th:href="@{/telasDePerfil/turma.css}">
    <title>Principal</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

</head>
<body>
    <header id="header">
        <div class="logo"></div>
        <div id="hamburg-mobile"></div>
            <nav id="navegacao">
                <ul id="mobile">
                    <li><a href="loginEstudante.html" id="link-1">Estudante</a></li>
                    <hr class="linha-mobile">
                    <li><a href="login-Empresa.html" id="link-2" >Empresa</a></li>
                    <hr class="linha-mobile">
                    <li><a href="" id="link-3">Vagas</a></li>
                    <hr class="linha-mobile">
                    <li><a href="index.html"id="link-4"> | Inicio</a></li>
                </ul>
            </nav>     
        
    </header>
    <main>
     <h2 th:text="${session.docente.materia}"  class="turma-titulo"></h2>
     <h2 th:text="${session.docente.id}"  id="Docenteid"></h2>
     <h2>Alunos</h2>
    <div th:each="alunos : ${Turmas}" th:if="${alunos.curso } == ${session.docente.materia}">
        <p  th:text="${alunos.aluno}"></p>
    </div>

    <h1 class="text-avaliacao">Alunos a serem avaliados</h1>
    <div class="d-flex">
    <div th:each="alunos : ${Turmas}"  th:if="(${alunos.curso} == ${session.docente.materia}) and (${alunos.validacao == null})" >
      <div  class="container-avaliacao">

        <div class="box-alunos" >

       
          <p   th:text="${alunos.aluno}" class="aluno"></p>
          <p id="id" style="display: none;" th:text="${alunos.id}"></p>
          <div class="bg-fundo">
            <div class="flex">
              <p th:if="${session.docente.materia} == 'Eletrotécnica'">Planejamento de serviços elétricos</p>
              <p th:if="${session.docente.materia} == 'Desenvolvimento de Sistemas' ">Codificação de programas</p>
              <ul class="avaliacao"  id="estrela1">
                  <li class="codificacao ativo" data-avaliacao="1"></li>
                  <li class="codificacao" data-avaliacao="2"></li>
                  <li class="codificacao" data-avaliacao="3"></li>
                  <li class="codificacao" data-avaliacao="4"></li>
                  <li class="codificacao" data-avaliacao="5"></li>
                </ul>
            </div>
          
              <div class="flex"> 
                <p th:if="${alunos.curso} == 'Eletrotécnica'">Instalação de sistemas elétricos prediais</p>
                <p th:if="${alunos.curso} == 'Desenvolvimento de Sistemas'">Desenvolvimento de protótipos</p>
                <ul class="avaliacao" id="estrela2">
                  <li class="desenvolvimento ativo2" data-avaliacao="1"></li>
                  <li class="desenvolvimento" data-avaliacao="2"></li>
                  <li class="desenvolvimento" data-avaliacao="3"></li>
                  <li class="desenvolvimento" data-avaliacao="4"></li>
                  <li class="desenvolvimento" data-avaliacao="5"></li>
                </ul>
              </div>
            
              <div class="flex">
              
                <p th:if="${session.docente.materia} == 'Eletrotécnica'">  Instalação de sistemas elétricos industriais</p>
                <p th:if="${session.docente.materia} == 'Desenvolvimento de Sistemas'">Realização de testes</p>
                <ul class="avaliacao" id="estrela3">
                  <li class="realizacao ativo3" data-avaliacao="1"></li>
                  <li class="realizacao" data-avaliacao="2"></li>
                  <li class="realizacao" data-avaliacao="3"></li>
                  <li class="realizacao" data-avaliacao="4"></li>
                  <li class="realizacao" data-avaliacao="5"></li>
                 
                </ul>
              </div>
             
              <div class="flex">
                <p th:if="${session.docente.materia} == 'Eletrotécnica'">Inspeção de funcionamento de Sistemas elétricos</p>
                <p th:if="${session.docente.materia} == 'Desenvolvimento de Sistemas'">Implementação de Banco de Dados</p>
                <ul class="avaliacao" id="estrela4">
                  <li class="implementacao ativo4" data-avaliacao="1"></li>
                  <li class="implementacao" data-avaliacao="2"></li>
                  <li class="implementacao" data-avaliacao="3"></li>
                  <li class="implementacao" data-avaliacao="4"></li>
                  <li class="implementacao" data-avaliacao="5"></li>
                 
                </ul>
              </div>
              
              <div class="flex">
                <p th:if="${session.docente.materia} == 'Eletrotécnica'">Realização de manutenção corretiva, preventiva e preditiva dos sistemas elétricos prediais e industriais</p>
                <p th:if="${session.docente.materia} == 'Desenvolvimento de Sistemas'">Documentação de Programa</p>
                <ul class="avaliacao" id="estrela5">
                  <li class="documentacao ativo5" data-avaliacao="1"></li>
                  <li class="documentacao" data-avaliacao="2"></li>
                  <li class="documentacao" data-avaliacao="3"></li>
                  <li class="documentacao" data-avaliacao="4"></li>
                  <li class="documentacao" data-avaliacao="5"></li>
                 
                </ul>
              </div>
             
              <div class="flex" th:if="${session.docente.materia} == 'Desenvolvimento de Sistemas'">
                <p if:th="${session.docente.materia} == 'Desenvolvimento de Sistemas'">Alteração e Correção de Programa</p>
                <ul class="avaliacao" id="estrela6">
                  <li class="Correcao_Programa ativo6" data-avaliacao="1"></li>
                  <li class="Correcao_Programa" data-avaliacao="2"></li>
                  <li class="Correcao_Programa" data-avaliacao="3"></li>
                  <li class="Correcao_Programa" data-avaliacao="4"></li>
                  <li class="Correcao_Programa" data-avaliacao="5"></li>
                 
                </ul>
              </div>
              
              <div  class="flex" th:if="${session.docente.materia} == 'Desenvolvimento de Sistemas'">
              <p th:if="${session.docente.materia} == 'Desenvolvimento de Sistemas'">Alteração da estrutura de armazenamento de Dados</p>
              <ul class="avaliacao" id="estrela7">
                <li class="alteracao_armazenamento ativo7" data-avaliacao="1"></li>
                <li class="alteracao_armazenamento" data-avaliacao="2"></li>
                <li class="alteracao_armazenamento" data-avaliacao="3"></li>
                <li class="alteracao_armazenamento" data-avaliacao="4"></li>
                <li class="alteracao_armazenamento" data-avaliacao="5"></li>
              </ul>
              </div>
              <div  class="flex" th:if="${session.docente.materia} == 'Desenvolvimento de Sistemas'">
                <p th:if="${session.docente.materia} == 'Desenvolvimento de Sistemas'">Atualização de Documentação do Programa</p>
                <ul  class="avaliacao" id="estrela8">
                  <li class="atualizacao_Documentacao ativo8" data-avaliacao="1"></li>
                  <li class="atualizacao_Documentacao" data-avaliacao="2"></li>
                  <li class="atualizacao_Documentacao" data-avaliacao="3"></li>
                  <li class="atualizacao_Documentacao" data-avaliacao="4"></li>
                  <li class="atualizacao_Documentacao" data-avaliacao="5"></li>
                </ul>
                
              </div>
          </div>
  
            <button th:id="a" >Enviar</button>
  
            </div>

      </div>
       
        
        </div>
        
    </div>
   
    </main>
    <script th:src="@{/btnMenu-scripts/Script-hamburg.js}"></script>
    <script th:src="@{/Electus_Scripts/Turma.js}"></script>
</body>
</html>