*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
html,body{
    height: 100%;

}
header{
    width: 100%;
    height: 11.5vh;
    background-color: #f78e0c;
    padding: 10px 4rem;
    display: flex;
    position: fixed;
    box-shadow: 0 0 1rem 0.3rem black;
    z-index: 1;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: space-between;
}
.logo{
    background-image: url('Imagens/Logo.png');
    width: 12vw;
    background-size: contain;
    background-repeat: no-repeat;
    height: 11vh;
}
header ul{
   display: flex;
   gap: 40px;
}
header li{
    list-style: none;
}
.color-text{
    color: white;
    transition: 2s;
}
header li a{
    text-decoration: none;
    color: black;
    font-size: 15pt;
}
header li a:hover{
    font-weight: 800;
}
.backgraund-img{
    height:90.5vh;
    position: relative;
    top: 89px;
    width: 100%;
    background-image: url('Imagens/Img-fundo.jpeg' );
    background-size: cover;
    background-position: left;
}
.opacity{   
    height:90.5vh;
    position: absolute;
    padding: 8rem;
    background-color: rgba(0, 0, 0, 0.274);
    width: 100%;
}
container{
    display: block;
}
texto{
    position: absolute;
    display: block;
    height: 116%;
    background: linear-gradient(to right, #000c, rgb(0 0 0 / 4%));
    display: flex;
    width: 100%;
    padding: 4rem;
    align-items: center;
    justify-content: flex-start;
}
texto h1{
    width: 60%;
    color: white;
    font-size: 56px;
}
body{
   
        background-color: rgb(243, 243, 243);
    
}
texto p{
    color: #fff;
    margin-top: 10px;
    width: 450px;
    font-size: 16pt;
    font-weight: 500;
   
}
.button-inform{
    margin-top: 10px;
    padding: 10px;
    font-size: 11pt;
    border-radius: 5px;
    border: 0.5px solid black;
    background-color: #f78e0c;
    cursor: pointer;
}
#slider{
    width: 100%;
    height: 44rem;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

#slider div.selected { 
    display: block;
    transition: 1s;
}
#slider div{
  
    width: 100%;

    display: none;
    height: 37rem;
    justify-content: space-between;
    align-items: center;
}
#slider img{
    width: 100%;
    height: 44rem;
}

.container-box{
    width: 100%;
    position: relative;
    top: 9vh;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
}
.boxx{
    height: 47vh;
    width: 25vw;
    padding: 5px;
    text-align: center;
    background-color: #f78e0c;
    border-radius: 10px;
}
.boxx h2{
    margin-top: -25px;
}
.boxx p{
    margin-top: 15px;
}
main{
     
    background-color: rgb(243, 243, 243);

}
.Conteiner-portfolio{
    width: 100%;
    padding: 0 40px;
   
   
}

.Titulo{
    width: 100%;
    margin: 0 auto;
    padding-top: 5rem;
    text-align: center;
    font-size: 16pt;
} 

.box-portifolio{
    display: flex;
    width: 25rem;
    height: 31vh;
    padding: 10px 10px 5px 10px;
    background-color: rgb(243, 243, 243);
    align-items: center;
}
.container-box1{
  display: flex;   
  justify-content:space-evenly;                                        
  position: relative;
  top: -2rem;
}
.caixa-box{
    display: block;
    background-color: white;
    width: 30vw;
    height: 26rem;
    padding: 0.3rem;   
    text-align: center;
    margin: 0 auto;

}
.roda{
    width: 50px;
    height: 50px;
    background-color: #f78e0c;
    border-radius: 100%;
    margin: 10px;
}
.caixa-box:hover{
    transform: scale(1.1);
    transition: .2s;
}
a{
    text-decoration: none;
    color: black;
}
#navegacao{display: block}
.estudante,.empresa{
    height: 25vh;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-bottom: 1px solid black; 
    margin-bottom: 15px;
    
}
.estudante{
    background-image: url('../Imagens/img-estudante.jpg');
    border-radius: 20px 20px 0px 0px ;
    
    
}
.empresa{
    background-image: url('../Imagens/empresario.jpg');
    background-position: 20% 25%;
    border-radius: 20px 20px 0px 0px ;
    
}
.opacity-empresa{
    border-radius: 20px 20px 0px 0px ;
    height: 25vh;
    background-color: rgba(0, 0, 0, 0.432);
}
.opacity-estudante{
    border-radius: 20px 20px 0px 0px ;
    height: 25vh;
    background-color: rgba(0, 0, 0, 0.274);
}

.sub-titulo{
    padding: 4%;
    font-weight: 400;
    margin-top: 30px;
}
.box-flex{
    margin-top: 50px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.text-box{
    margin-left: 20px;
}
.text-box a{
   display: block;
   color: #f78e0c !important;
   text-align: right;
   margin-top: 13px;
}
.img {
    width: 11rem;
    height: 21vh;
}

.box-login,.box-empresa{
    margin-top: 40px;
    text-align: center;
    width: 25vw;
    font-size: 20pt;
    height: 50vh;
    background-color: #f78e0c;
}
.opacity-2 .Titulo h2{
    color: #fff;
}
.teste{
    width: 100%;
    height: 100vh;
}
.quadrado{
    margin-top: 64px;

}
.caixa-box:hover .quadrado{
    background-color: #f78e0c;
    height: 50px;
    animation-duration: 0.8s;
    animation-name: animacao1;
}
@keyframes animacao1{
    0%{ background-color: white; width: 0%;}
    100%{ background-color: #f78e0c; width: 100%;}
}


/* FOOTER */
.caixaRodape {
    margin-top: 100px;
    width: 100%;
    display: flex;
    padding: 4% 1.5%;
    height: 40vh;
    align-items: center;
    justify-content: space-between;
    background-color: #f78e0c;
    border-top: 1px solid black;
}
.caixaRodape .logo{
    width: 25vw;
    height: 28vh;
}
.footer-inform{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.linha-mobile{
    display: none;
}
.caixaRodape ul{
    list-style: none;
}
.caixaRodape .footer-inform h4{
    font-size: calc(5pt + 1vw);
}
.caixaRodape ul li{
    font-size: 9pt;
}
.hover{
    background-color: #1b1b1bcb;
}
.text-box p{
    margin-top: 10px;
    font-size: 11pt;
}
.text-box h4{
    font-size: 12pt;
}

@media (max-width: 1400px){
    .box-flex {
        display: flex;
        justify-content: space-around
    }
    .container-box1{
        top: 0rem;
    }
    .caixa-box{
        height:auto;     
        width: 33vw;
    }
    .estudante, .empresa {
        height: 42vh;        
    }
    .opacity-empresa {       
        height: 42vh;      
    }   
    .opacity-estudante {
        height: 42vh;
    }
}
/* @media (max-height: 800px){
  
    .box{
        height: 80vh;
    }
    
} */
@media (max-width: 1000px){
  
    .caixa-box{
        height: 28rem;
        width: 33vw;
    }
    
}
@media (max-width: 940px){
    
    .caixaRodape{
    margin-top: 100px;
    width: 100%;
    display: flex;
    padding: 4% 1.5%;
    height: 85vh;
    align-items: center;
    justify-content: center;
    background-color: #f78e0c;
    border-top: 1px solid black;
    flex-wrap: wrap;
    }
    .caixaRodape .footer-inform h4 {
        font-size: calc(5pt + 2.5vw);
        text-align: center;
    }
    .caixaRodape ul li {
        font-size: 13pt;
        text-align: center;
    }
    .footer-inform {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 48px;
    }
    .estudante, .empresa {
        height: 46vh;
    }
    .opacity-estudante {
        height: 46vh;
    }
    .opacity-empresa {
        
        height: 46vh;
       
    }   
    .caixa-box{
        height: 78vh;
        width: 44vw;
    }
    #slider {
        height: 37rem;
    }
    texto{
   
        height: 138%;
    
    }
}
@media (max-width:936px){
    texto h1 {
        width: 104%;
        color: white;
        font-size: 46px;
    }
    texto p {
      width: auto;
    }
}
@media (max-width: 851px){
    .backgraund-img {
        
        top:2px;
        
    }
    header{
        height: 14.5vh;
        padding: 10px 1rem;
        box-shadow: 0 0 1rem 0.3rem black;
        z-index: 1;
        border-bottom: 1px solid black;
    }
    #navegacao{
        display: none;
        position: absolute;
        top: 104px!important;
        left:-0px;
        transition: 1s;
        
    }
    #navegacao ul{
        text-align: center;
        width: 100%;
        padding: 0.8rem;
        height: 62vh;
        transition: 1s;
    }
    /* #navegacao ul {  
        height: 59vh!important;
    } */
    header ul{
        display: block;
       
     }
     header ul li{
        margin: 30px;
       
     }
     header ul li a{
        font-size: 18pt;
     }
     .linha-mobile{
        display: block;
        width: 100%;
        background-color: black;
     }
    #hamburg-mobile{
       display: block;
       width: 4rem;
       transition: 1s;
        height: 3.9rem;
        cursor: pointer;
       background-image: url('imagens/botao-de-menu-de-tres-linhas-horizontais.png');
       background-size: cover;
    }
    #navegacao.acao{
        display: flex !important;
        width: 100%;
        transition: 1s;
        background-color: #cfcbc5da;
    }
    .hover{
        background-color: #f78e0c;
    }
    .color-text{
        color:black;
    }
    .opacity {
        padding: 1rem;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    .informacoes h1 {
        
        text-align: center;
    }
    .caixa-box {
        display: block;
        height: 57vh;
        width: 69vw;
        margin: 34px auto;
    }
    .button-inform {
        margin: 10px auto;
        padding: 10px;
        font-size: 11pt;
        display: block;
        border-radius: 5px;
        border: 0.5px solid black;
        background-color: #f78e0c;
        cursor: pointer;
    }
    .container-box1 {
        display: block;
        justify-content: space-evenly;
        position: relative;
        top: 5rem;
    }
    .Conteiner-portfolio {
        overflow-x:scroll;
        overflow-y:hidden;
        padding: 1rem 1rem 2rem 1rem;   
        display: flex;
        flex-wrap: nowrap;
    }
    .box-portifolio {
        height: 31vh; 
    }
    .box-flex{
        margin-top: 50px;
        
     
        display: flex;
        flex-wrap: nowrap;
        
    }
    
}   
@media (max-width: 670px){
    .caixa-box {
        display: block;
        height: 58vh;
        width: 69vw;
        margin: 34px auto;
    }
    texto h1 {
        width:auto;
        color: white;
        font-size: 46px;
    }
    texto p {
      width: auto;
    }
}

@media (max-width: 644px){
   .caixaRodape {
    margin-top: 100px;
    width: 100%;
    display: block;
    padding: 4% 1.5%;
    height: 70vh;
   }
   .caixaRodape .logo {
    width: 25vw;
    height: 28vh;
    margin: 0 auto;
    }
   .footer-inform {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 35px;
    
    }
    .caixaRodape ul li {
        font-size: 9pt;
        text-align: center;
    }
    .caixaRodape .footer-inform h4 {
        font-size: calc(5pt + 1.9vw);
    }
}
@media (max-width: 567px){
    .caixa-box {
        display: block;
        height: 61vh;
        width: 69vw;
        margin: 34px auto;
    }
}
@media (max-width: 500px){
    .caixa-box {
        display: block;
        height: 81vh;
        width: 69vw;
        margin: 34px auto;
    }
}