.linha-mobile{
    display: none;
}
@media (max-width: 851px){
    
    header{
        height: 14.5vh;
        padding: 10px 1rem;
        position: relative;
        box-shadow: 0 0 1rem 0.3rem black;
        z-index: 1;
        border-bottom: 1px solid black;
    }
    #navegacao{
        display: none;
        position: absolute;
        top: 104px;
        left:-0px;
        transition: 1s;
        border-bottom: 1px solid black;
        
    }
    #navegacao ul{
        text-align: center;
        width: 100%;
        padding: 0.8rem;
        transition: 1s;
    }
    header ul{
        display: block;
       
     }
     header ul li{
        margin: 30px;
       
     }
     header ul li a{
        font-size: 18pt;
     }
     .linha-mobile{
        display: block;
        width: 100%;
        background-color: black;
     }
    #hamburg-mobile{
       display: block;
       width: 4rem;
       transition: 1s;
        height: 3.9rem;
        cursor: pointer;
       background-image: url('../Imagens/botao-de-menu-de-tres-linhas-horizontais.png');
       background-size: cover;
    }
    #navegacao.acao{
        display: flex !important;
        width: 100%;
        transition: 1s;
        background-color: #cfcbc5da;
    }
}
 @media (min-height: 800px){
    #navegacao {    
        top: 133px;
        left: 0px;
        transition: 1s;
    }
} 