*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
html,body{
    height: 100%;

}

header{
    width: 100%;
    height: 13.5vh;
    background-color: #f78e0c;
    padding: 10px 4rem;
    display: flex;
    box-shadow: 0 0 1rem 0.3rem black;
    z-index: 1;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: space-between;
}
.logo{
    background-image: url('Imagens/Logo.png');
    width: 14vw;
    background-size: contain;
    background-repeat: no-repeat;
    height: 8vh;
}
header ul{
   display: flex;
   gap: 40px;
}
header li{
    list-style: none;
}
.color-text{
    color: white;
    transition: 2s;
}
a{
    text-decoration: none;
    color: black;
}
header li a{
    text-decoration: none;
    color: black;
    font-size: 15pt;
}
header li a:hover{
    font-weight: 800;
}
/* .turmas{
    margin-top: 125px;
} */
main{
    padding:  25px;
    width: 100%;
}
.turmas{
    width: 29rem;
    height: 11rem;
    text-align: center;
    padding: 10px;
    background-color: #f78e0c;
    border-radius: 16px;
    box-shadow: 0 0 10px 1px black;
}
.turmas:hover{
    cursor: pointer;
}