*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
html,body{
    height: 100%;

}

header{
    width: 100%;
    height: 13.5vh;
    background-color: #f78e0c;
    padding: 10px 4rem;
    display: flex;
    box-shadow: 0 0 1rem 0.3rem black;
    z-index: 1;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: space-between;
}
.logo{
    background-image: url('Imagens/Logo.png');
    width: 14vw;
    background-size: contain;
    background-repeat: no-repeat;
    height: 8vh;
}
header ul{
   display: flex;
   gap: 40px;
}
header li{
    list-style: none;
}
.color-text{
    color: white;
    transition: 2s;
}
a{
    text-decoration: none;
    color: black;
}
header li a{
    text-decoration: none;
    color: black;
    font-size: 15pt;
}
header li a:hover{
    font-weight: 800;
}
 /* .turmas{ 
    margin-top: 125px;
}  */
main{
    padding:  25px;
    width: 100%;
}
.text-avaliacao{
  text-align: center;
  padding: 11px;
}
.turma-titulo{
    text-align: center;
}
.d-flex{
  overflow-x:scroll;
  overflow-y:hidden;
  padding: 1rem;   
  display: flex;
  flex-wrap: nowrap;
  gap: 60px;
}
.aluno{
  text-align: center;
  font-size: 32pt;
  background-color: #f78e0c;
  border-radius: 10px;
}
.container-avaliacao{
    margin-top: 15px;
    box-shadow: 0 0 3px 1px;
    border-radius: 10px;
   
}
.bg-fundo{
  padding: 1rem;
 
}
.box-alunos{
  width: 31rem;
}
.avaliacao{
    display: flex;
    align-items: center;
   }
   .flex{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
   }
   .flex p{
    font-size: 13.5pt;
   }
   #a{
    text-align: center;
    padding: 12px;
    width: 7rem;
    display: block;
    outline: 0;
    border-radius: 8px;
    border: none;
    margin: 12px auto;
    cursor: pointer;
   }
   #a:hover{
   }
  
  .codificacao,.desenvolvimento,.realizacao,.implementacao,.documentacao,.Correcao_Programa,.alteracao_armazenamento,.atualizacao_Documentacao{
    list-style-type: none;
    cursor: pointer;
    color: #ffa500;
    font-size: 31px;
  }
  /* codificacao */

  .codificacao::before{
    content: "\2605";
  }
  .codificacao.ativo ~ .codificacao::before{
    content: "\2606";
  }
  .avaliacao:hover .codificacao::before{
    content: "\2605";
  }
  .codificacao:hover ~ .codificacao::before{
    content: "\2606";
  }

/* desenvolvimento */
  .desenvolvimento::before{
    content: "\2605";
  }
  .desenvolvimento.ativo2 ~ .desenvolvimento::before{
    content: "\2606";
  }
  .avaliacao:hover .desenvolvimento::before{
    content: "\2605";
  }
  .desenvolvimento:hover ~ .desenvolvimento::before{
    content: "\2606";
  }
  /* realizacao */
  .realizacao::before{
    content: "\2605";
  }
  .realizacao.ativo3 ~ .realizacao::before{
    content: "\2606";
  }
  .avaliacao:hover .realizacao::before{
    content: "\2605";
  }
  .realizacao:hover ~ .realizacao::before{
    content: "\2606";
  }
  /* implementacao */
  .implementacao::before{
    content: "\2605";
  }
  .implementacao.ativo4 ~ .implementacao::before{
    content: "\2606";
  }
  .avaliacao:hover .implementacao::before{
    content: "\2605";
  }
  .implementacao:hover ~ .implementacao::before{
    content: "\2606";
  }
/* documentacao */
  .documentacao::before{
    content: "\2605";
  }
  .documentacao.ativo5 ~ .documentacao::before{
    content: "\2606";
  }
  .avaliacao:hover .documentacao::before{
    content: "\2605";
  }
  .documentacao:hover ~ .documentacao::before{
    content: "\2606";
  }
/*Correcao_Programa*/
  .Correcao_Programa::before{
    content: "\2605";
  }
  .Correcao_Programa.ativo6 ~ .Correcao_Programa::before{
    content: "\2606";
  }
  .avaliacao:hover .Correcao_Programa::before{
    content: "\2605";
  }
  .Correcao_Programa:hover ~ .Correcao_Programa::before{
    content: "\2606";
  }
/*alteracao_armazenamento*/
  .alteracao_armazenamento::before{
    content: "\2605";
  }
  .alteracao_armazenamento.ativo7 ~ .alteracao_armazenamento::before{
    content: "\2606";
  }
  .avaliacao:hover .alteracao_armazenamento:before{
    content: "\2605";
  }
  .alteracao_armazenamento:hover ~ .alteracao_armazenamento::before{
    content: "\2606";
  }
/*atualizacao_Documentacao*/
  .atualizacao_Documentacao::before{
    content: "\2605";
  }
  .atualizacao_Documentacao.ativo8 ~ .atualizacao_Documentacao::before{
    content: "\2606";
  }
  .avaliacao:hover .atualizacao_Documentacao:before{
    content: "\2605";
  }
  .atualizacao_Documentacao:hover ~ .atualizacao_Documentacao::before{
    content: "\2606";
  }